.product_item{ :id => "product-#{product.id}"}
  %h3 
    = link_to product.name, product_path(product)
  .image
  %p.attribute
    %span.label
      Rank:
    %span.price
      ="#{product.price}"  
  %p.attribute
    %span.label
      User Rating:
    %span.price
      ="#{product.price}$"
  %p.attribute
    %span.label
      Precio:
    %span.price
      ="#{product.price}$"
  .clear
  