<div class="form box cart-container">
    <h3 class="cart-container-title"><%= $('header my_cart',this.lang).text() %></h3>

    <div class="settings-content bordered settings-content-form cart-items">
        <h3><%= this.items.length>1?$('my_cart_labels header_items',this.lang).text():$('my_cart_labels header_item',this.lang).text() %></h3>
        <ul class="cart-container-list list">
            <% for(var i = 0; i < this.items.length; i++) { %>
                <%=$.View("views/cart_item.ejs", {item:this.items[i], amount:this.items[i].amount, sp:true, lang:this.lang})%>
            <% } %>
            <li>
                <a href="#" class='create-address-link'><%= $('my_cart_labels go_on',this.lang).text() %></a>
            </li>
        </ul>
        <div class="container">
            <h4><%= $('my_cart_labels purchase',this.lang).text() %></h4>

            <p class="resume">
                <span class="cart-container-n-items">0</span>
                <span class="cart-container-n-items-label"><%= this.items.length>1?$('my_cart_labels lower_case_items',this.lang).text():$('my_cart_labels lower_case_item',this.lang).text() %></span>
                 - <span class="cart-container-total-price">0</span>$
            </p>
        </div>
    </div>
    <div class="settings-content bordered settings-content-form .shipping">
        <h3><%= $('my_cart_labels shipping_address header',this.lang).text() %></h3>

        <div class="container">
            <% if (this.addresses.length) { %>
            <form action="">
                <label for="cart-addresses" class='my-address'>My address:</label>
                <select name="cart-addresses" id="cart-addresses">
                    <% for(var i = 0; i < this.addresses.length; i++) { %>
                        <option value="<%=this.addresses[i].address_id%>"><%= this.addresses[i].full_name %></option>
                    <% } %>
                </select>
            </form>
            <% } else if (Qck.current_user) { %>
            <span class="address-signin"><%= $('my_cart_labels shipping_address error_part1',this.lang).text() %> <a href="#users/create_address"><%= $('my_cart_labels shipping_address error_click_here',this.lang).text() %></a> <%= $('my_cart_labels shipping_address error_part2',this.lang).text() %></span>
            <% } else { %>
            <span class="address-nonreg">You don' have any address registered, sign in to register one.</span>
            <% } %>
        </div>
    </div>
    <div class="ui-state-highlight ui-state-dialog settings-content cart-alert" id='not-confirmed-alert-login'>
        <p class="ui-state-info-text">
            <span class="ui-state-text">
                <span class="ui-icon ui-icon-info">
                    &nbsp;
                </span>
                <%= $('my_cart_labels login_error',this.lang).text() %>
            </span>
        </p>
        <div class="clear"></div>
    </div>
    <div class="ui-state-highlight ui-state-dialog settings-content cart-alert" id='not-confirmed-alert-items'>
        <p class="ui-state-info-text">
            <span class="ui-state-text">
                <span class="ui-icon ui-icon-info">
                    &nbsp;
                </span>
                You need to add items to the cart to confirm your order.
            </span>
        </p>
        <div class="clear"></div>
    </div>
    <div class="ui-state-highlight ui-state-dialog settings-content cart-alert" id='not-confirmed-alert-address'>
        <p class="ui-state-info-text">
            <span class="ui-state-text">
                <span class="ui-icon ui-icon-info">
                    &nbsp;
                </span>
                You need to register at least one address to confirm your order.
            </span>
        </p>
        <div class="clear"></div>
    </div>
    <div class="ui-state-highlight ui-state-dialog settings-content cart-alert" id='not-confirmed-alert-processing'>
        <p class="ui-state-info-text">
            <span class="ui-state-text">
                <span class="ui-icon ui-icon-info">
                    &nbsp;
                </span>
                You must wait for the system to process before confirming your order.
            </span>
        </p>
        <div class="clear"></div>
    </div>
    <div class="settings-content settings-content-form">
        <form action="">
            <button id="cart-confirm-button"><%= $('my_cart_labels checkout_button',this.lang).text() %></button>
        </form>
        <div class="clear"></div>
    </div>
</div>