<li class="cart-item cart-item-<%=this.item.id%>" id="<%=(this.sp)? 'sp-' : ''%>cart-item-<%=this.item.id%>">
    <div class="cartlink">
        <img src="<%=this.item.image_url%>" alt="img" height="60"/>

        <div class="left">
            <div class='cartname'>
                <%=this.item.name%>
            </div>
            <div class="cartprice">Precio:
                <span class='cartprice-label'>Price:</span>
                <span class='cartprice-value'><%=this.item.price%>$</span>

            </div>
            <div class="cart-n">
                <span class='cart-n-label'>Amount:</span>
                <span class='cart-n-value'><%=this.amount%></span>
                <button class='item-up-btn'>Up</button>
                <button class='item-down-btn'>Down</button>
            </div>
        </div>
        <div class="right">
            <button class="remove-btn">Remove</button>
        </div>
        <div class="clear"></div>
    </div>
</li>