<li class="cart-item cart-item-<%=this.item.id%>" id="<%=(this.sp)? 'sp-' : ''%>cart-item-<%=this.item.id%>">
    <div class="cartlink">
        <a href="#products/show&id=<%=this.item.id%>">
            <img src="<%=this.item.image_url%>" alt="img" height="60"/>
        </a>

        <div class="left">
            <div class='cartname'>
                <a href="#products/show&id=<%=this.item.id%>">
                    <%=this.item.name%>
                </a>
            </div>
            <div class="cartprice">
                <span class='cartprice-label'><%= $('product_info price',Qck.locale[current_language]).text() %></span>
                <span class='cartprice-value'><%=this.item.price%>$</span>

            </div>
            <div class="cart-n">
                <a href="#" class="amount">
                    <span class='cart-n-label'><%= $('product_label amount',Qck.locale[current_language]).text() %></span>
                    <span class='cart-n-value'><%=this.amount%></span>
                </a>
                <button class='item-up-btn'><%= $('product_label up',Qck.locale[current_language]).text() %></button>
                <button class='item-down-btn'><%= $('product_label down',Qck.locale[current_language]).text() %></button>
            </div>
        </div>
        <div class="right">
            <button class="remove-btn"><%= $('product_label remove',Qck.locale[current_language]).text() %></button>
        </div>
        <div class="clear"></div>
    </div>
</li>