<div class="box product_show" id="product-<%=this.product.id%>">
    <h2>
        <%= this.product.name %>
    </h2>
    <img src="<%=this.product.image_url%>" alt=""/>
    <p class="attribute">
        <span class="sales_rank-label label">
            Sales Rank:
        </span>
        <span class="sales_rank">
            <%= this.product.sales_rank %>
        </span>
    </p>
    <p class="attribute">
        <span class="price-label label">
            Price:
        </span>
        <span class="price">
            <%= this.product.price %>
        </span>
    </p>
    <p class="attribute">
        <span class="actors-label label">
            Actors:
        </span>
        <span class="actors">
            <%= this.product.actors %>
        </span>
    </p>
    <p class="attribute">
        <span class="format-label label">
            Format:
        </span>
        <span class="format">
            <%= this.product.format %>
        </span>
    </p>
    <p class="attribute">
        <span class="language-label label">
            Language:
        </span>
        <span class="language">
            <%= this.product.language %>
        </span>
    </p>
    <p class="attribute">
        <span class="subtitles-label label">
            Subtitles:
        </span>
        <span class="subtitles">
            <%= this.product.subtitles %>
        </span>
    </p>
    <p class="attribute">
        <span class="region-label label">
            Region:
        </span>
        <span class="region">
            <%= this.product.region %>
        </span>
    </p>
    <p class="attribute">
        <span class="aspect_ratio-label label">
            Aspect ratio:
        </span>
        <span class="aspect_ratio">
            <%= this.product.aspect_ratio %>
        </span>
    </p>
    <p class="attribute">
        <span class="number_discs-label label">
            Number of discs:
        </span>
        <span class="number_discs">
            <%= this.product.number_discs %>
        </span>
    </p>
    <p class="attribute">
        <span class="release_date-label label date">
            Release date:
        </span>
        <span class="release_date">
            <%= this.product.release_date %>
        </span>
    </p>
    <p class="attribute">
        <span class="run_time-label label date">
            Run time:
        </span>
        <span class="run_time">
            <%= this.product.run_time %>
        </span>
    </p>
    <p class="attribute">
        <span class="ASIN-label label date">
            ASIN:
        </span>
        <span class="run_time">
            <%= this.product.ASIN %>
        </span>
    </p>
    <div class="clear"></div>
</div>