<div class="box product_show" id="product-<%=this.product.id%>">
    <h2>
        <%= this.product.name %>
    </h2>
    <img src="<%=this.product.image_url%>" alt=""/>
    <p class="attribute">
        <span class="sales_rank_label label">
            <%= $('product_label rank', Qck.locale[current_language]).text() %>
        </span>
        <span class="sales_rank">
            <%= this.product.sales_rank %>
        </span>
    </p>
    <p class="attribute">
        <span class="price_label label">
            <%= $('product_label price', Qck.locale[current_language]).text() %>
        </span>
        <span class="price">
            <%= this.product.price %>
        </span>
    </p>
    <p class="attribute">
        <span class="actors-label label">
            <%= $('product_info actors', Qck.locale[current_language]).text() %>
        </span>
        <span class="actors">
            <%= this.product.actors %>
        </span>
    </p>
    <p class="attribute">
        <span class="format-label label">
            <%= $('product_info format', Qck.locale[current_language]).text() %>
        </span>
        <span class="format">
            <%= this.product.format %>
        </span>
    </p>
    <p class="attribute">
        <span class="language-label label">
            <%= $('product_info language', Qck.locale[current_language]).text() %>
        </span>
        <span class="language">
            <%= this.product.language %>
        </span>
    </p>
    <p class="attribute">
        <span class="subtitles-label label">
            <%= $('product_info subtitles', Qck.locale[current_language]).text() %>
        </span>
        <span class="subtitles">
            <%= this.product.subtitles %>
        </span>
    </p>
    <p class="attribute">
        <span class="region-label label">
            <%= $('product_info region', Qck.locale[current_language]).text() %>
        </span>
        <span class="region">
            <%= this.product.region %>
        </span>
    </p>
    <p class="attribute">
        <span class="aspect_ratio-label label">
            <%= $('product_info aspect_ratio', Qck.locale[current_language]).text() %>
        </span>
        <span class="aspect_ratio">
            <%= this.product.aspect_ratio %>
        </span>
    </p>
    <p class="attribute">
        <span class="number_discs-label label">
            <%= $('product_info number_of_discs', Qck.locale[current_language]).text() %>
        </span>
        <span class="number_discs">
            <%= this.product.number_discs %>
        </span>
    </p>
    <p class="attribute">
        <span class="release_date-label label date">
            <%= $('product_info release_date', Qck.locale[current_language]).text() %>
        </span>
        <span class="release_date">
            <%= this.product.release_date %>
        </span>
    </p>
    <p class="attribute">
        <span class="run_time-label label date">
            <%= $('product_info run_time', Qck.locale[current_language]).text() %>
        </span>
        <span class="run_time">
            <%= this.product.run_time %>
        </span>
    </p>
    <p class="attribute">
        <span class="ASIN-label label date">
            <%= $('product_info ASIN', Qck.locale[current_language]).text() %>
        </span>
        <span class="run_time">
            <%= this.product.ASIN %>
        </span>
    </p>
    <p class="attribute">
      <a href="#" class="addcart">
          <%= $('product_label add_to_cart', Qck.locale[current_language]).text() %>
      </a>
      &nbsp;-&nbsp;
      <a href="javascript:window.history.go(-1);" class="go-back">
          <%= $('product_label go-back', Qck.locale[current_language]).text() %>
      </a>
    </p>
    <div class="clear"></div>
</div>