<div class="box product_show" id="product-<%=this.product.id%>">
    <h2>
        <%= this.product.name %>
    </h2>
    <img src="<%=this.product.image_url%>" alt=""/>
    <p class="attribute">
        <span id="sales_rank_label" class="sales_rank-label label">
            <%= $('product_label rank', Qck.locale[current_language]).text() %>
        </span>
        <span class="sales_rank">
            <%= this.product.sales_rank %>
        </span>
    </p>
    <p class="attribute">
        <span id="price_label" class="price-lable label">
            <%= $('product_label price', Qck.locale[current_language]).text() %>
        </span>
        <span class="price">
            <%= this.product.price %>$
        </span>
    </p>
    <p class="attribute">
      <a id="add_to_cart_label" href="#" class="addcart">
          <%= $('product_label add_to_cart', Qck.locale[current_language]).text() %>
      </a>
    </p>
    <div class="clear"></div>
</div>