
<div class="grid_3 isotope-item box-cell box alpha omega category-<%=this.product.category_id%> subcategory-<%=this.product.subcategory_id%>">
  <div class="product_item" id="product-<%=this.product.id%>">
    <h3>
      <a href="#products/show&id=<%=this.product.id%>"><%=this.product.name%></a>
    </h3>
    <a href="#products/show&id=<%=this.product.id%>">
      <img src="<%=this.product.image_url%>" alt="" height='100'/>
    </a>
    <p class="attribute">
      <span class="sales_rank_label">
        Sales Rank:
      </span>
      <span class="sales_rank">
        <%=this.product.sales_rank%>
      </span>
    </p>
    <p class="attribute">
      <span class="price_label">
        Price:
      </span>
      <span class="price">
        <%=this.product.price%>$
      </span>
    </p>
    <p class="attribute">
      <a href="#" class="addcart">Add to cart</a>
    </p>
    <div class="clear"></div>
  </div>
</div>

