<div class="box product_show" id="product-<%=this.product.id%>">
    <h2>
        <%= this.product.name %>
    </h2>
    <img src="<%=this.product.image_url%>" alt=""/>
    <p class="attribute">
        <span class="sales_rank-label label">
            Sales rank:
        </span>
        <span class="sales_rank">
            <%= this.product.sales_rank %>
        </span>
    </p>
    <p class="attribute">
        <span class="price-lable label">
            Price:
        </span>
        <span class="price">
            <%= this.product.price %>
        </span>
    </p>
    <p class="attribute">
      <a href="#" class="addcart">Add to cart</a> - <a href="#products/show&id=<%=this.product.id%>" class="addcart">More</a>
    </p>
    <div class="clear"></div>
</div>