<div class="box" id="categories-sidebar">
    <h3>
        Categories
    </h3>        
    <ul>
    <% for(var i = 0; i < this.categories.length; i++) { %>
            <li id="category-<%=this.categories[i].id%>">
                <a href="#categories/show&cat_id=<%=this.categories[i].id%>"><%=this.categories[i].name%></a>
            </li>
            <ul id="category-<%=this.categories[i].id%>-subcats" class="subcat">
            <% for(var j = 0; j < this.categories[i].subcategories.length; j++) { %>
                <%= $.View('/views/sidebar_subcats.ejs', {category: this.categories[i].subcategories[j]}) %>
            <% } %>
            </ul>
    <% } %>
    </ul>
</div>